services:
  - type: web
    name: starship-game
    env: python
    buildCommand: pip install -r requirements.txt && chmod +x build.sh && ./build.sh
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 5000
      - key: PYTHON_VERSION
        value: 3.11.0
    plan: free

